
*{
    margin:0;
    padding:0;
}

html{
    height:100%;
}

body{
    background: url('/media/hero1.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px); 
    color:#D2AB94;
    font-family: 'Source Sans Pro', sans-serif;
}

/* from Bulma: code institute */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color:black;
}

.nav-bar{
    background-color: #d9aa8f;
}

.nav-link{
    color: black;
    text-align: center;
    font-family: 'Belleza', sans-serif;
}

.nav-link p {
    letter-spacing: 0.1rem;
}


.list-inline-item a:hover {
    color: white;
}

.nav-link i {
    color:black;
}

.border {
    border: 1px solid #4a4a4a!important;
}

#site-banner {
    background-color: #a66e4e;
    color: black;
    font-family: 'Belleza', sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
}

/* Navigation bar */
.dropdown-menu{
    text-align: center;
    background-color: #D2AB94;
    text-transform: capitalize
}

.dropdown-menu a:hover{
    color:#592715;
}

.dropdown-item:hover{
    color:#592715;
    background-color:white;
    cursor:pointer;
}

section {
    overflow-x: hidden !important;
}

.main-logo-link{
    width: fit-content;
}

.nav-font{
    font-family: 'Belleza', sans-serif;
    color: black !important;
    margin: 0 2rem;
    font-weight: 600;
}

.nav-font:hover{
    text-transform: uppercase;
    letter-spacing:1px;
    text-decoration:underline white;
    letter-spacing:1px;
}

.navbar-nav li{
    color:black;
    padding:0.5rem 0rem;   
    font-family: 'Belleza', sans-serif; 
}


/* Buttons */

.shop-button .btn{
    color:black;
    border:#ffff;
}

.btn-white{
    background-color: transparent;
    color:black;
}

.shop-button a:hover{
        cursor:pointer;
        box-shadow:0 0.1rem 1.2rem 0 rgba(180, 50, 10, 0.6);
        color: white;
        background-color:#d9aa8f;
}


.shop-now-button{
    display: inline-block;
    padding: 14px 28px;
    line-height: normal;
    border: 1px solid ;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    font-family: 'Belleza', sans-serif;
    background-color: white;
}


.logo-font{
    font-family: 'Belleza', sans-serif;
    color: black;
}

/* Footer */

.footer-container{
    background-color:#a66e4e;
    padding:20px 0 10px;
    color:black;
    font-family: 'Belleza', sans-serif;
    bottom: 0;
    width: 100%;
    position:fixed;
}

.community-button{
    padding: 0 3px;
}

.social-links{
    margin-top:15px;
    padding:0;
}

.social-links li a i {
    width:30px;
    height:30px; 
    font-size:13px;
    text-align:center;
    color:black;
}

.fa-facebook-f:hover {
    color:#007bff;
}

.fa-instagram:hover {
    color:#fd7e14;
}

.fa-twitter:hover {
    color:#17a2b8;
}

.fa-youtube:hover {
    color:#dc3545;
}

.service {
    line-height: 1.3rem;
}

.news{
    margin:1rem;
}
/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }
     
    .header-container {
        padding-top: 52px;
    }
}

@media only screen and (max-width: 760px){
    .general{
        font-size: 1.2rem;
        font-weight:600;
    }
}

@media (max-width: 480px) {
    body{
        background: url('/media/mobile-hero.jpeg') no-repeat center center fixed;
        background-size: cover;
        height: calc(100vh - 164px);
    }

}

@media (max-width: 400px) {
   .navbar .nav-link {
        padding:2px 1px !important;
        letter-spacing: 0;
    }

    .logo-font{
        color:#D2AB94;
        font-size:2.8rem;
    }

    .btn-lg{
        font-size:1rem;
    }
}

  @media (max-width: 320px) {
     .logo-font{
         color:#D2AB94;
         font-size:2.5rem;
     }
 
     .btn-lg{
         font-size:0.8rem;
     }
     
   }
 
