
*{
    margin:0;
    padding:0;
}

html{
    height:100%;
}

body{
    background: url('/media/hero1.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px); 
    color:#D2AB94;
    font-family: 'Source Sans Pro', sans-serif;
}

/* from Bulma: code institute */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color:black;
}


.nav-link{
    color: black;
    text-align: center;
    font-family: 'Belleza', sans-serif;
}

.nav-link p {
    letter-spacing: 0.1rem;
}


.list-inline-item a:hover {
    color: white;
}

.nav-link i {
    color:black;
}

.border {
    border: 1px solid #4a4a4a!important;
}

#site-banner {
    background-color: #a66e4e;
    color: black;
    font-family: 'Belleza', sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
}

/* Navigation bar */
.dropdown-menu{
    text-align: center;
    background-color: #D2AB94;
    text-transform: capitalize
}

.dropdown-menu a:hover{
    color:#592715;
}

.dropdown-item:hover{
    color:#592715;
    background-color:white;
    cursor:pointer;
}

section {
    overflow-x: hidden !important;
}

.main-logo-link{
    width: fit-content;
}

.nav-font{
    font-family: 'Belleza', sans-serif;
    color: black !important;
    margin: 0 2rem;
    font-weight: 600;
}

.nav-font:hover{
    text-transform: uppercase;
    letter-spacing:1px;
    text-decoration:underline white;
    letter-spacing:1px;
}

.navbar-nav li{
    color:black;
    padding:0.5rem 0rem;   
    font-family: 'Belleza', sans-serif; 
}

/* assistance from code institute colleague https://github.com/johnroutledge/milestone-project-4/blob/main/static/css/base.css */ 
.navbar-fixed{
    z-index: 99;
    position: sticky;
    width: 100%;
    background-color: #d9aa8f;
    top:0
}

.grand_total{
    color:#592715 !important;
}

/* Buttons */

.shop-button .btn{
    color:black;
    border:#ffff;
}

.btn-white{
    background-color: transparent;
    color:black;
}

.shop-button a:hover{
        cursor:pointer;
        box-shadow:0 0.1rem 1.2rem 0 rgba(180, 50, 10, 0.6);
        color: white;
        background-color:#d9aa8f;
}


.shop-now-button{
    display: inline-block;
    padding: 14px 28px;
    line-height: normal;
    border: 1px solid ;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    font-family: 'Belleza', sans-serif;
    background-color: white;
}


.logo-font{
    font-family: 'Belleza', sans-serif;
    color: black;
}

.category-button{
    color:#592715;
}

.category-button:hover{
    color:#0e0400;
}


/* products page */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.products-header{
    font-family: 'Belleza';
    padding: 1rem 0;
    line-height: 2.5rem;
    color: #bf5f56;
}

.products{
    padding-bottom:3rem;
}

.product-text{
    color:#d9aa8f;
    letter-spacing:1px;
    padding: 2rem 1rem;
}

.card-footer{
    background-color: transparent;
}

.product-btn{
    border: 1px solid grey;
}

.product-btn:hover{
    text-transform: uppercase;
    color:#592715;
}

.rating{
    color: #eec139!important;
    font-size: 0.8rem;
}

.divider{
    width:195px;
    height:2px;
    background-color:#894c51;
}

.card .card-header{
    font-family: 'Belleza', sans-serif;
}

.card .collapse{
    font-family: 'Source Sans Pro', sans-serif;

}

.card-header button{
    color:#592715;
}

.card-header .btn:hover{
    color:black;
    text-decoration: none;
}

.btn-black{
    border: 1px solid grey;
    background-color: #D2AB94;
    font-weight: bold;
}

.btn-black:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 #bf5f56;
    color:white;
}

.add-wish{
    color:#bf5f56;
    padding: 1rem 0;
}

.add-wish p:hover{
    text-decoration: none !important;
    color:#592715;
}
ƒ
.rating-detail{
    font-size: 1rem;
}

a.category-badge > span.badge:hover {
    background: #a66e4e !important;
    color: #fff !important;
}

a.category-badge{
    color:black !important;
    border: 1px solid #bf5f56!important;
    padding-top: 3px;
    padding-bottom: 5px;
}

.sort-select-wrapper{
    padding-top: 1.5rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.error-meesage{
    color:#bf5f56;
    padding: 4rem 0;
    letter-spacing:2px;
}

/* bag */

.header-text{
    color:#592715;
    letter-spacing:1px;
    padding: 2rem 1rem;
    text-align: center;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.text-black{
    color:#592715;
}

.bag_items{
    color:#bf5f56;
}

.bag-btn{
    padding-right:0.6rem;
}

/* ------------ bootstrap toasts */

.alert{
    color:#bf5f56;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}
.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.color-pink{
    color:#bf5f56;
}

.color-black{
    color:#592715;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Footer */

.footer-container{
    background-color:#a66e4e;
    padding:20px 0 10px;
    color:black;
    font-family: 'Belleza', sans-serif;
    bottom: 0;
    width: 100%;
}

.community-button{
    padding: 0 3px;
}

.social-links{
    margin-top:15px;
    padding:0;
}

.social-links li a i {
    width:30px;
    height:30px; 
    font-size:13px;
    text-align:center;
    color:black;
}

.fa-facebook-f:hover {
    color:#007bff;
}

.fa-instagram:hover {
    color:#fd7e14;
}

.fa-twitter:hover {
    color:#17a2b8;
}

.fa-youtube:hover {
    color:#dc3545;
}

.service {
    line-height: 1.3rem;
}

.news{
    margin:1rem;
}
/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }
     
    .header-container {
        padding-top: 52px;
    }
}

@media only screen and (max-width: 760px){
    .general{
        font-size: 1.2rem;
        font-weight:600;
    }
}

@media (max-width: 480px) {
    body{
        background: url('/media/mobile-hero.jpeg') no-repeat center center fixed;
        background-size: cover;
        height: calc(100vh - 164px);
    }

    .products-header{
        padding: 2rem 1rem;
        font-size:1.4rem
    }

    .product-details h3{
        font-size: 1.45rem;
    }

    .product-text{
        font-size: 1.65rem;
    }

    .size{
        font-size: 0.8rem;
    }

}

@media (max-width: 400px) {
   .navbar .nav-link {
        padding:2px 1px !important;
        letter-spacing: 0;
    }

    .logo-font{
        color:#D2AB94;
        font-size:2.8rem;
    }

    .btn-lg{
        font-size:1rem;
    }

    .rating-detail{
        font-size: 1rem;
    }

    .products-header{
        padding: 2rem 1rem;
        font-size:1.25rem
    }

}

  @media (max-width: 320px) {
     .logo-font{
         color:#D2AB94;
         font-size:2.5rem;
     }
 
     .btn-lg{
         font-size:0.8rem;
     }
     
     .product-details h3{
         font-size: 1.2rem;
     }

     .product-text{
         font-size: 1.5rem;
     }

   }
 
