<footer class="container-fluid footer-container">
    <div>
        <div class="row">
            <div  class="col-6 col-sm-4 footer-content text-center">
                <h5 class="general uppercase"> MMÁ (Beauty) </h5> 
                <p class="news">Proudly Sourced from Artisans in Africa</p>
                <div class="card-icons">
                    <p class="news"> Accept All Payments </p>
                    <i class="fab fa-cc-visa fa-lg"></i>
                    <i class="fab fa-cc-stripe fa-lg"></i>
                    <i class="fab fa-cc-mastercard fa-lg"></i>
                    <i class="fab fa-cc-amex fa-lg"></i>
                  </div>
                  
              <ul class="social-links">
                <li class="list-inline-item social">
                   <a href="https://www.facebook.com/" target="_blank" aria-label="Find us on Facebook" rel="noopener">
                     <i class="fab fa-facebook-f" aria-hidden="true"></i> 
                     <span class="sr-only">Facebook</span>
                   </a>
                </li>
                <li class="list-inline-item social">
                  <a href="https://www.instagram.com/" target="_blank" aria-label="Find us on Instagram" rel="noopener" >
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                  </a>
               </li>
                <li class="list-inline-item social">
                  <a href="https://twitter.com/" target="_blank" aria-label="Find us on Twitter" rel="noopener">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                    <span class="sr-only">Twitter</span>
                  </a>
                </li>
                <li class="list-inline-item social">
                  <a href=" https://www.youtube.com/" target="_blank" aria-label="Find us on Youtube" rel="noopener">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                    <span class="sr-only">Youtube</span>
                  </a>
                </li>
              </ul>
            </div>         
            <div class="col-6 col-sm-4">
               <div class="services text-center">
                 <h5 class="general uppercase"> Customer Service </h5> 
                 <h6 class="service">Shipping & Returns</h6>
                 <h6 class="service">Size Guide</h6>
                 <h6 class="service"> Refund Policy </h6>
                 <h6 class="service">Terms of Service</h6>
                 <h6 class="service">FAQS</h6>    
               </div>
            </div>
            <div class=" col-sm-4">
              <div class="community text-center d-none d-sm-block">
                <h5 class="general uppercase"> Join Our Community </h5> 
                <p class="news">Never miss out on exciting news and upcoming events</p>
                <div class="subscribe">
                    <form  method="POST" action="">
                        <div class="input-group w-75 mx-auto">
                            <input class="form-control border border-grey" type="text" name="email" placeholder="Email" required>
                            <div class="input-group-append">
                                <button class="form-control btn border border-grey" type="submit">
                                    <span class="community-button">
                                        Submit
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>               
              </div>
           </div>
        </div>
    </div>
  </footer>
 