<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-font nav-link " href="{% url 'home' %}" id="about-link">
               Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-font nav-link " href="{% url 'about' %}" id="home-link">
               About
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font nav-link dropdown-toggle" href="#"  role="button" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{%url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products'%}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font nav-link dropdown-toggle" href="#" id="haircare-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Haircare
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="haircare-link">
                <a href="{% url 'products' %}?category=conditioners,leave_in_conditioners" class="dropdown-item">Conditioners</a>
                <a href="{% url 'products' %}?category=detanglers" class="dropdown-item"> Detanglers</a>
                <a href="{% url 'products' %}?category=edge_control" class="dropdown-item">Edge Control</a>
                <a href="{% url 'products' %}?category=shampoo" class="dropdown-item">Shampoo</a>
                <a href="{% url 'products' %}?category=treatements,hair_mask,hair_oil,leave_in_conditioners" class="dropdown-item"> Treatments</a>
                <a href="{% url 'products' %}?category=conditioners,detanglers,edge_control,shampoo,treatements,hair_mask,hair_oil,leave_in_conditioners" class="dropdown-item">All Haircare</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font nav-link dropdown-toggle" href="#" id="extension-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Extensions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="extension-link">
                <a href="{% url 'products' %}?category=clip_ins" class="dropdown-item">Clip Ins</a>
                <a href="{% url 'products' %}?category=clip_ins" class="dropdown-item">All Extensions</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-font nav-link " href="{% url 'products' %}?category=accessories" id="accessories-link">
               Accessories
            </a>
        </li>

    </ul>
</div>