{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
                <div class="jumbotron">
                    <h1 class="about-headertext text-center"> MMÀ </h1>
                    <p class="text-center text-capitalize tag-line lead"> <strong>redefining beauty</strong></p>
                    <p class="lead mt-5 text-black text-capitalize space text-center">Your number one shop for all your Afro hair needs</p>
                </div>   
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="text-black mt-5">
                        <h3 class="text-black header-text">
                            ABOUT US  
                        </h3>
                        <br>
                        <p class="about-us-text">  We're dismantling misogynistic body-shaming culture one waist bead at a time. Fitbeads is continuing the beautiful African tradition <br>
                             of waist bead wearing as a culturally informed and body positive way to keep track of changes in a woman’s body (and life).</p>
                       <p class= "about-us-text-2 mb-5">Join our community today and begin reading what other people have to say, or start your own topic. Don't forget to use the hashtag #jointheconversation to share your story or experience. The stories submitted are anonymous so feel free to share.</p>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}