{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details text-center mb-5 mt-md-5">
                    <h3 class="">{{ product.name }}</h3>
                    <p class="lead font-weight-bold">€{{ product.price }}</p>
                    {% if product.rating %}
                        <small class="rating rating-detail"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="rating rating-detail">No Rating</small>
                    {% endif %}
                    <a class="add-wish" href="">
                        <div class="text-center add-wish">
                            <div><i class="fas fa-heart fa-lg hvr-grow"></i></div> 
                            <p class="my-0 d-none d-lg-block text-decoration-none">Add to Wishlist</p>
                        </div>
                    </a>
                    {% if product.category %}
                        <p class="small mt-2 mb-2">
                            <a href="{% url 'products' %}?category={{ product.category.name }}"
                                class="category-button">
                                <i class="fas fa-tag mr-1"> {{product.category.friendly_name }}</i>
                            </a>
                        </p>
                    {% endif %}

                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %} 
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                                {% if s %}
                                    <div class="col-12">
                                        <p class="pt-2"><strong>Size:</strong></p>
                                        <select class="form-control rounded-0  mx-auto w-25" name="product_size" id='id_product_size'>
                                            <option value="s" selected>S -8oz</option>
                                            <option value="m">M -16oz</option>
                                            <option value="l">L -32oz</option>
                                        </select>
                                    </div>
                                {% endif %}
                                <div class="col-12">
                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                    <div class="form-group mx-auto w-50">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn" 
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control text-center qty_input" type="number" name="quantity" value="1" min="1" max="6" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn"
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col{% if s %}-12 mt-2{% endif %} mb-2">
                                    <a href="{% url 'products' %}" class="btn btn-black rounded-0 mt-2">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-2" value="Add to Bag">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                    
                    <!-- display if the user is a super user-->
                    <div>
                    {% if request.user.is_superuser %}
                        <div>
                            <small class="ml-3">
                                <a href="{% url 'edit_product' product.id %}" class="text-black admin-btn">Edit</a> | 
                                <a class="text-danger admin-btn" data-toggle="modal" data-target="#modaldelete{{ product.id }}">Delete</a>

                                <div class="modal fade" id="modaldelete{{ product.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ product.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="text-center text-black mt-2">
                                                <h5 class="modal-title pt-2" id="modaldelete{{ product.id }}">
                                                    DELETE PRODUCT
                                                </h5>
                                            </div>
                                            <div class="modal-body text-black">
                                               <h6>Are you sure you would like to remove <strong class="color-pink"> <em>'{{ product.name }}' </em></strong> from the store product list.<br></h6>
                                            <br>
                                            <p class="text-black action">
                                                <span class="icon">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                </span>
                                                 Please note that this action cannot be undone!
                                            </p>
                                            </div>
                                            <div class="pb-3 ml-3">
                                                <button type="button" class="btn btn-outline-black text-uppercase rounded-0" data-dismiss="modal">Cancel</button>
                                                <a class="btn btn-black rounded-0" href="{% url 'delete_product' product.id %}">DELETE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </small>
                        </div>          
                    {% endif %}
                    </div>

                    <!--Accordian-->
                    <div class="accordion pt-2" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Product Details
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                {{ product.description }}
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Usage Instructions
                              </button>
                            </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                             {{ product.usage }}
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Ingredients
                              </button>
                            </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                              {{ product.ingredients }}
                            </div>
                          </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}